@tailwind base;
@tailwind components;
@tailwind utilities;

/* Disable text selection globally */
* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Allow selection in input fields and textareas */
input, textarea {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

/* Disable right-click context menu */
body {
  -webkit-touch-callout: none;
}
